@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

:root {
  --color-purple: #6A2C70;
  --color-maroon: #B83B5E;
  --color-orange: #F08A5D;
  --color-yellow: #F9ED69;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Sniglet', cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6A2C70;
  color: white;
  padding: 0 5%;
}

a {
  color: white;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
  font-size: larger;
}

.cart-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg[data-icon="cart-shopping"] {
  width: 1.5rem;
  height: 1.5rem;
}

.badge {
  position: absolute;
  background-color: #F08A5D;
  color: black;
  font-size: 0.9rem;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px;
}

#hero {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 5px solid var(--color-purple);
}