@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

:root {
  --color-purple: #6A2C70;
  --color-maroon: #B83B5E;
  --color-orange: #F08A5D;
  --color-yellow: #F9ED69;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Sniglet', cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6A2C70;
  color: white;
  padding: 0 5%;
}

a {
  color: white;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
  font-size: larger;
}

.cart-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg[data-icon="cart-shopping"] {
  width: 1.5rem;
  height: 1.5rem;
}

.badge {
  position: absolute;
  background-color: #F08A5D;
  color: black;
  font-size: 0.9rem;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 48px;
}

#hero {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border: 5px solid var(--color-purple);
}

nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  list-style: none;
}

nav > ul > li > a {
  color: black;
  font-size: 1.2rem;
}

.hero-link {
  border-radius: 50%;
}

.games-grid-container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 330px;
}

.game-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 220px;
  height: 270px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: transform 0.3s ease;
}

.game-item > h3 {
  margin: 0 0 0 20px;
  font-weight: normal;

}

.game-item > span {
  margin: 0 0 0 20px;
}

.game-item > form {
  margin: 0 0 0 20px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-item > img {
  align-self: center;
}

.game-item > form > button {
  background-color: var(--color-yellow);
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.game-item:hover {
  transform: scale(1.05);
}

main {
  position: relative;
}

.drawer-container {
  width: 400px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  box-sizing: border-box;
  transform: translateX(100%);
  background-color: white;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.drawer-container.active {
  transform: translateX(0);
}